---
import Card from "../components/card";
import Nav from "../components/nav";
import ScrollVideo from "../components/scrollvideo";
import TwoToneLine from "../components/twoToneLine";
import Layout from "../layouts/Layout.astro";
import atumx from "/atumx.mp4";
import heka from "/heka.mp4";
---

<Layout title="AtmuX | Home">
  <main
    class="w-full flex flex-col justify-evenly md:justify-center items-start"
  >
    <ScrollVideo src={heka} />
    <Card>
      <TwoToneLine primary="They Said" secondary=" Robots" />
      <TwoToneLine primary="Can't Show" secondary=" Emotions" />
      <p
        class="text-xs text-center md:text-lg font-comfortaa m-8 tracking-widest md:tracking-[0.9rem]"
      >
        myth busting...
        <span class="text-orange-500">soon</span>
      </p>
    </Card>
  </main>
  <section
    class="w-full flex flex-col justify-evenly md:justify-center items-start"
  >
    <img src="/problems.png" alt="" />
    <Card>
      <TwoToneLine primary="Because Modern" secondary=" Problems" />
    </Card>
  </section>
  <section
    class="w-full flex flex-col justify-evenly md:justify-center items-start"
  >
    <img src="/solutions.png" alt="" />
    <Card>
      <TwoToneLine primary="Require Modern" secondary=" Solutions" />
    </Card>
  </section>
  <section
    class="w-full flex flex-col justify-evenly md:justify-center items-start"
  >
    <img src="/skillsets.png" alt="" />
    <Card>
      <TwoToneLine primary="and Modern" secondary=" Skillsets" />
      <p
        class="text-xs text-center md:text-lg font-comfortaa m-8 tracking-widest md:tracking-[0.9rem]"
      >
        with a robot that teaches you
        <span class="text-orange-500 font-titan-one"> robotics</span>
      </p>
    </Card>
  </section>
  <section class="flex flex-col justify-center items-center">
    <ScrollVideo src={atumx} />
    <button
      class="bg-orange-500 hover:bg-orange-600 font-titan-one no-underline py-2 px-4 rounded-[6rem] lg:py-4 lg:px-8 fixed top-8"
      >Register Your Interest</button
    >
  </section>
  <Nav currentRoute="/" />
</Layout>
