---
import Nav from "../components/nav";
import Layout from "../layouts/Layout.astro";
---

<Layout title="AtmuX | Innovation">
  <Nav currentRoute="/innovation" />
  <main class="h-full"></main>
</Layout>
